{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true,
    "mocha": true
  },

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "react",
    "jsx-a11y"
  ],

  "extends": "airbnb",

  "rules": {
		"quotes": [2, "double"],
		"react/jsx-filename-extension": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0,
		"class-methods-use-this": 0,
    "max-len": [2, 140],
    "indent": 0
  },

	"globals": {
		__API_URL__: true,
		__ROOT_URL__: true,
		__APP_NAME__: true,
		__NODE_ENV__: true,
		_: true
	},

  "settings": {
    "import/resolver": "webpack"
  }
}
