{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true,
    "mocha": true
  },

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "react"
  ],

  "extends": "eslint:recommended",

  "rules": {
    "semi": 2,
    "object-curly-spacing": [2, "always"],
    "no-var": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2
  },

	"globals": {
		__API_URL__: true,
		__ROOT_URL__: true,
		__APP_NAME__: true,
		__NODE_ENV__: true,
		_: true
	}
}
