@import "./utilities"

body
  margin: 0

#toast-container
  > div
    opacity: 1 !important

.list-enter
  opacity: 0.01

  &.list-enter-active
    opacity: 1
    transition: opacity 500ms ease-in

.list-leave
  opacity: 1

  &.list-leave-active
    opacity: 0.01
    transition: opacity 500ms ease-in

.rdtPicker
  top: 36px

.form-control
  z-index: 0 !important
